<h2 mat-dialog-title>
Edit Dashboard
  <button
    mat-icon-button
    style="float: right; margin: 10px 5px"
    mat-dialog-close
  >
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-divider>
</mat-divider>
<mat-dialog-content>
  <h4>Give your dashboard a title</h4>
  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Personal</mat-label>
    <mat-select>
      <mat-option value="one">Personal</mat-option>
      <mat-option value="two">Personal option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Panels">
      <div>
        <br/>
        <p>Choose what kind of information you want to see on your dashboard. You can even choose to see data for people on your team.</p>
<br/>
        <div class="panel">
          <mat-form-field appearance="fill" class="select" >
            <mat-label>Choose Panel Type</mat-label>
            <mat-select>
              <mat-option value="one">Toshal OMS</mat-option>
              <mat-option value="two">Toshal PMS</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button class="add-panel"><mat-icon>add</mat-icon> Add Panel</button>

        </div>

<mat-expansion-panel >
<mat-expansion-panel-header>
<mat-panel-title>
  <mat-icon >list </mat-icon>  Upcoming Events (My Upcoming Events)<mat-icon class="icon">error_outline</mat-icon>
</mat-panel-title>

</mat-expansion-panel-header>
<div>
  <mat-label>Name</mat-label>
  <mat-form-field appearance="outline" class="example-full-width">

    <input matInput type="text" placeholder="My Upcoming Events"/> </mat-form-field
  ><br />
  <mat-label>Event Attendees</mat-label>
  <mat-form-field appearance="fill"  class="example-full-width" >
    <mat-label>Me</mat-label>
    <mat-select>
      <mat-option value="one">Me</mat-option>
      <mat-option value="two">You</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox class="example-margin">Only show events I am attending</mat-checkbox>
  </div>
</mat-expansion-panel>
<mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>
  <mat-icon >timelapse </mat-icon>Billable vs. Non-Billable Time (My Logged Time)<mat-icon class="icon">error_outline</mat-icon>
</mat-panel-title>

</mat-expansion-panel-header>
<div>
<mat-label>Name</mat-label>
<mat-form-field appearance="outline" class="example-full-width">

  <input matInput type="text" placeholder="My Logged Time"/> </mat-form-field
><br />
<mat-label>Time Logged By</mat-label>
<mat-form-field appearance="fill"  class="example-full-width" >
  <mat-label>Me</mat-label>
  <mat-select>
    <mat-option value="one">Me</mat-option>
    <mat-option value="two">You</mat-option>
  </mat-select>
</mat-form-field>
</div>
</mat-expansion-panel>
<mat-expansion-panel >
<mat-expansion-panel-header>
<mat-panel-title>
  <mat-icon >list </mat-icon>Upcoming Milestones (My Upcoming Milestones)<mat-icon class="icon">error_outline</mat-icon>

</mat-panel-title>

</mat-expansion-panel-header>
<div>
  <mat-label>Name</mat-label>
  <mat-form-field appearance="outline" class="example-full-width">

    <input matInput type="text" placeholder="My Upcoming Milestones"/> </mat-form-field
  ><br />
  <mat-label>Milestones Assigned To</mat-label>
  <mat-form-field appearance="fill"  class="example-full-width" >
    <mat-label>Me</mat-label>
    <mat-select>
      <mat-option value="one">Me</mat-option>
      <mat-option value="two">You</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
</mat-expansion-panel>
<mat-expansion-panel >
<mat-expansion-panel-header>
<mat-panel-title>
  <mat-icon > notes </mat-icon> Task Counts (My Active Tasks)<mat-icon class="icon">error_outline</mat-icon>
</mat-panel-title>
</mat-expansion-panel-header>
<div>
  <mat-label>Name</mat-label>
  <mat-form-field appearance="outline" class="example-full-width">

    <input matInput type="text" placeholder="My Active Tasks"/> </mat-form-field
  ><br />
  <mat-label>Task Assign To</mat-label>
  <mat-form-field appearance="fill"  class="example-full-width" >
    <mat-label>Me</mat-label>
    <mat-select>
      <mat-option value="one">Me</mat-option>
      <mat-option value="two">You</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle>Include tasks assigned to my team</mat-slide-toggle>
  </div>
</mat-expansion-panel>

      </div>
    </mat-tab>
    <mat-tab label="Projects">
      <div>
        <mat-checkbox class="example-margin">Show list of source projects for this dashboard</mat-checkbox><span><mat-icon >error_outline</mat-icon></span>
<br/>
<p>Choose filters for your source projects.</p>
<br/>





<div>
  <mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>
  Project Status
</mat-panel-title>

</mat-expansion-panel-header>
<div>
  <mat-form-field appearance="fill"  class="example-full-width">
    <mat-label>Active</mat-label>
    <mat-select>
      <mat-option value="option1">Active</mat-option>
      <mat-option value="option2">All Projects</mat-option>
      <mat-option value="option3">Current</mat-option>
      <mat-option value="option4">Late</mat-option>
      <mat-option value="option5">Upcoming</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox  class="example-full-width">Include archived projects</mat-checkbox>
</div>
</mat-expansion-panel>
<br/>
<mat-expansion-panel>
  <mat-expansion-panel-header>
  <mat-panel-title>
    Project Owner
  </mat-panel-title>

  </mat-expansion-panel-header>
  <mat-form-field appearance="fill"  class="example-full-width">
    <mat-label>Choose Project Owner </mat-label>
    <mat-select multiple>
      <mat-option value="option1">Me (Shraddha Patil)</mat-option>
      <mat-option value="option2">Dhananjay Balgude</mat-option>
      <mat-option value="option3">Anjali Patel</mat-option>
      <mat-option value="option4">Anand Patel</mat-option>
      <mat-option value="option5">Divya Patel</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox  class="example-full-width">Include deleted users
  </mat-checkbox>
  </mat-expansion-panel>
  <br/>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>
      Project Health
    </mat-panel-title>

    </mat-expansion-panel-header>
    <mat-form-field appearance="fill"  class="example-full-width">
      <mat-label>Choose Project Health </mat-label>
      <mat-select multiple>
        <mat-option value="option1">Good</mat-option>
        <mat-option value="option2">At Risk</mat-option>
        <mat-option value="option3">Needs Attention</mat-option>
        <mat-option value="option4">Not Set</mat-option>

      </mat-select>
    </mat-form-field>
    </mat-expansion-panel>
    <br/>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
      <mat-panel-title>
        Project Tags
      </mat-panel-title>

      </mat-expansion-panel-header>
      <mat-form-field appearance="fill"  class="example-full-width">
        <mat-label>Choose Tag</mat-label>
        <mat-select multiple>
          <mat-option value="option1">FS</mat-option>
          <mat-option value="option2">Applications</mat-option>
          <mat-option value="option3">Internship</mat-option>
          <mat-option value="option4">Node</mat-option>
          <mat-option value="option5">Recruitment</mat-option>
        </mat-select>
      </mat-form-field>
      </mat-expansion-panel>
      <br>
<mat-expansion-panel>
  <mat-expansion-panel-header>
  <mat-panel-title>
    Company
  </mat-panel-title>

  </mat-expansion-panel-header>
  <mat-form-field appearance="fill"  class="example-full-width">
    <mat-label>Choose Companies</mat-label>
    <mat-select multiple>
      <mat-option value="option1">Toshal Infotech</mat-option>
      <mat-option value="option2">ADCA</mat-option>
      <mat-option value="option3">Capium</mat-option>
      <mat-option value="option4">ModulesBag</mat-option>
      <mat-option value="option5">Roger</mat-option>
    </mat-select>
  </mat-form-field>
  </mat-expansion-panel>
  <br/>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>
      Project Category
    </mat-panel-title>

    </mat-expansion-panel-header>
    <mat-form-field appearance="fill"  class="example-full-width">
      <mat-label>Choose Categories</mat-label>
      <mat-select multiple>
        <mat-option value="option1">Backchain</mat-option>
        <mat-option value="option2">Hospital</mat-option>
        <mat-option value="option3">IT HR</mat-option>
        <mat-option value="option4">No Categories</mat-option>

      </mat-select>
    </mat-form-field>
    </mat-expansion-panel>
    <br/>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
      <mat-panel-title>
        Options
      </mat-panel-title>

      </mat-expansion-panel-header>
      <mat-checkbox  class="example-full-width">Show starred projects only
      </mat-checkbox>
      </mat-expansion-panel>
      <br/>
</div>
      </div>





    </mat-tab>
    <mat-tab label="Description" >
      <div>
        <form class="example-form">
          <p>Give this dashboard a description (Optional)</p>
          <mat-form-field class="example-full-width">

            <!-- <mat-label>Give this dashboard a description (Optional)</mat-label> -->
            <textarea matInput  rows="4"></textarea>
          </mat-form-field>
        </form>
      </div>

    </mat-tab>
  </mat-tab-group>
<br/>
  <div>
    <button mat-raised-button mat-dialog-close class="close-btn">Close</button>
    <button mat-raised-button mat-dialog-close color="primary" class="add-btn">
      <mat-icon>add</mat-icon> Add Dashboard
    </button>
  </div>
</mat-dialog-content>

