#user {
  float: right;
}
.userimg {
  width: 120px;
}
#closebtn {
  float: left;
}
#addbtn {
  float: right;
}
.example-full-width {
  width: 100%;
}
.example-full-width1 {
  width: 70%;
}
.flex
{
display: flex;
justify-content: space-between;
}
